{% for interface in interfaces %}
interface {{ interface['name'] }}
{% if interface['description'] is defined %}
description {{ interface['description'] }}
{% endif %}
{% if interface['edgeport'] is undefined or interface['edgeport'] is sameas false %}
{# Edgeswitch defaults to no spanning-tree edgeport, nothing to print #}
{% elif interface['edgeport'] is undefined and interface['mode'] == 'access' %}
{# Default access mode ports to 'edgeport' unless explicitely disabled #}
spanning-tree edgeport
{% elif interface['edgeport'] is sameas true %}
spanning-tree edgeport
{% endif %}
{% if interface['mode'] is undefined or interface['mode'] == 'general' %}
{# EdgeSwitch defaults to general mode, if undefined OR explicitely set, don't print anything #}
{% if interface['vlan_pvid'] is defined %}
vlan pvid {{ interface['vlan_pvid'] }}
{% endif %}
{% if interface['vlan_participation'] is defined %}
vlan participation include {{ interface['vlan_participation'] }}
{% endif %}
{% if interface['vlan_tagging'] is defined %}
vlan tagging {{ interface['vlan_tagging'] }}
{% endif %}
{% else %}
{# Currently beyond general, only access and trunk mode are actually covered by this template #}
switchport mode {{ interface['mode'] }}
{% endif %}
{% if interface['mode'] is undefined or interface['mode'] == 'general' %}
{# Todo: Support general mode? #}
{# vlan ingressfilter is enabled by - good - the documentation is actually wrong #}
{% elif interface['mode'] == 'access' %}
spanning-tree guard root
switchport access vlan {{ interface['access_vlan'] }}
{% elif interface['mode'] == 'trunk' %}
spanning-tree guard loop
switchport trunk allowed vlan {{ interface['allowed_vlans'] }}
{% if interface['native_vlan'] is defined %}
switchport trunk native vlan {{ interface['native_vlan'] }}
{% endif %}
{% endif %}
exit
{% endfor %}
