spanning-tree guard loop
switchport mode trunk
switchport trunk allowed vlan {{ interface['allowed_vlans'] }}
{% if interface['native_vlan'] is defined %}
switchport trunk native vlan {{ interface['native_vlan'] }}
{% endif %}
