{% if spanning_tree.bpdu_guard is undefined or spanning_tree.bpdu_guard is sameas false %}
{# EdgeSwitch defaults to disabled BPDU guard, nothing to print #}
{% else %}
spanning-tree bpduguard
{% endif %}
{% if spanning_tree.bridge_priority is undefined or spanning_tree.bridge_priority == 32768 %}
{# EdgeSwitch defaults to 32768, nothing to print #}
{% else %}
spanning-tree mst priority 0 {{ spanning_tree.bridge_priority }}
{# We don't support MSTP in this template, nonetheless (M)STP instance 0 sets the bridge priority in (R)STP modes #}
{% endif %}
{% if spanning_tree.mode is undefined or spanning_tree.mode == 'mst' %}
{# EdgeSwitch defaults to MSTP, nothing to print #}
{% else %}
spanning-tree mode {{ spanning_tree.mode }}
{% endif %}
