{% for interface in interfaces %}
interface {{ interface['name'] }}
{% if interface['description'] is defined %}
description {{ interface['description'] }}
{% endif %}
{% if interface['edgeport'] is undefined or interface['edgeport'] is sameas false %}
{# Edgeswitch defaults to no spanning-tree edgeport, nothing to print #}
{% elif interface['edgeport'] is undefined and interface['mode'] == 'access' %}
{# Default access mode ports to 'edgeport' unless explicitely disabled #}
spanning-tree edgeport
{% elif interface['edgeport'] is sameas true %}
spanning-tree edgeport
{% endif %}
{# INFO: Only general, access and trunk mode are actually covered by this template for now. #}
{% if interface['mode'] is undefined or interface['mode'] == 'general' %}
{# EdgeSwitch defaults to general mode. If undefined OR explicitely set, don't print anything #}
{% include './templates/es-8-150w-switchport-general.j2' %}
{# TODO handle vlan ingressfilter. It is enabled by default - good - the documentation is actually wrong about disabled #}
{% elif interface['mode'] == 'access' %}
{% include './templates/es-8-150w-switchport-access.j2' %}
{% elif interface['mode'] == 'trunk' %}
{% include './templates/es-8-150w-switchport-trunk.j2' %}
{% endif %}
exit
{% endfor %}
