{% if auto_voip is defined %}
{% if auto_voip.vlan is defined %}
auto_voip vlan {{ auto_voip.vlan }}
{% endif %}
{% for entry in auto_voip.oui %}
auto_voip oui {{ entry['prefix'] }} oui-desc "{{ entry['description'] }}"
{% endfor %}
{% endif %}
